<div class="inventory-tab">

   {{#each inventory as |inv invKey|}}
   <div class="item-section">
      <div class="item-header">   
         <div class="header-type flexrow">
            <div style="flex: 0 0 50px"></div>
            <span>{{inv.header}}</span>
            <div class="item-controls" data-show-id="{{invKey}}">
                  <a class="item-control section-show" title="Show/Hide">-</a>
            </div>
         </div>
      </div>
      {{#each inv.section as |section sectionKey|}}
      <div class="section-list">
         <div class="section-header">   
            <div class="header-type flexrow">
               <div style="flex: 0 0 50px"></div>
               <span>{{section.header}}</span>
               <div class="item-controls" data-show-id="{{sectionKey}}">
                     <a class="item-control" title="Show/Hide">-</a>
               </div>
            </div>
         </div>
         <div class="header-details flexrow">
            <div style="flex: 0 0 18px"></div>
            <div class="item-name">NAME</div>
            {{#if section.equiptable}}
            <div class="item-equipped">EQPT.</div>
            {{/if}}
            <div class="item-encumbrance">ENC.</div>
            <div class="item-tech">TECH</div>
            <div style="flex: 0 0 40px"></div>
         </div>
         <ul class="inventory items-list">
            {{#each section.items as |item itemKey|}}
            <li class = "item flexrow" data-item-id={{item._id}}>
               <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
               <span class="item-name">{{item.name}}</span>
               {{#if section.equiptable}}
               <span class="item-equipped">
                  <a class="item-equip">
                     {{#if item.data.equipped.value}}
                     <i class="fas fa-circle"></i>
                     {{else}}
                     <i class="far fa-circle"></i>
                     {{/if}}
                  </a>
               </span>
               {{/if}}
               <span class="item-encumbrance">{{item.data.encumbrance.value}}</span>
               <span class="item-tech">{{item.data.tech.value}}</span>
               <div class="item-controls">
                     <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                     <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
               </div>
            </li>
            {{/each}} 
         </ul>
      </div>
      {{/each}}
   </div>
   {{/each}}
</div>
