<div class ="three-Cs row">
        <div class = "sheet-field-stack">
           <div>CULTURE</div>
           <img height="80" width="80" src = "{{cultureIcon}}"/>
           <select name="data.details.culture.value" data-dtype="{{data.details.culture.value}}">
                {{#select data.details.culture.value}}
                <option value=""></option>
                {{#each cultures as |culture c|}}
                <option value="{{c}}">{{culture}}</option>
                {{/each}}
                {{/select}}
             </select>
        </div>
        <div class = "sheet-field-stack">
           <div>CONCEPT</div>
           <img height="80" width="80" src = "{{conceptIcon}}"/>
           <select name="data.details.concept.value" data-dtype="{{data.details.concept.value}}">
                {{#select data.details.concept.value}}
                <option value=""></option>
                {{#each concepts as |concept c|}}
                <option value="{{c}}">{{concept}}</option>
                {{/each}}
                {{/select}}
             </select>
        </div>
        <div class = "sheet-field-stack">
           <div>CULT</div>
           <img height="80" width="80" src = "{{cultIcon}}"/>
           <select name="data.details.cult.value" data-dtype="{{data.details.cult.value}}">
                {{#select data.details.cult.value}}
                <option value=""></option>
                {{#each cults as |cult c|}}
                <option value="{{c}}">{{cult}}</option>
                {{/each}}
                {{/select}}
             </select>
        </div>
     </div>
     <div class = "section-header row">
        <div class="row-divide"></div>
        <h3>CONDITION</h3>
        <div class="row-divide"></div>
     </div>
     <div class = "condition row">
        <div class = "condition-section">
           <span class="condition-title">MODIFIERS</span>
           <textarea></textarea>
        </div>
        <div>
           {{#with data.condition}}
           <div class = "condition-item">
               {{{statBlock ego.value ego.max 24}}}
              <h4>EGO</h4>
           </div>
           <div class = "condition-item">
              {{{statBlock spore.value spore.max 24}}}
              <h4>SPORE INFESTATIONS</h4>
           </div>
           <div class = "condition-item">
              {{{statBlock fleshwounds.value fleshwounds.max 24}}}
              <h4>FLESHWOUNDS</h4>
           </div>
           <div class = "condition-item">
              {{{statBlock trauma.value trauma.max 12}}}
              <h4>TRAUMA</h4>
           </div>
           {{/with}}
        </div>
        <div class = "condition-section">
           COMPLICATIONS
           <textarea></textarea>
        </div>
     </div>