<div class="attribute-tab">
   {{#each actor.data.attributes as |attribute attributeKey|}}
   <div class="attribute-skill-group">
      <div class="attribute"> 
         <h3>{{attributeKey}}</h3>
         <input type="text" name="{{attributeKey}}" value="{{attribute.value}}" data-dtype="Number" />
      </div>
      <div class = "skill-list">
         {{#each attribute.skills as |skill skillKey|}}
         <div class = "skill">
            <a>{{skillKey}}</a>
            <input type="text" name="{{skillKey}}" value="{{skill.value}}" data-dtype="Number"/>      
         </div>
         {{/each}}
      </div>
   </div>
   {{/each}}
</div>
